{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'chatapp/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% block data %}
    <!-- Exists and not empty -->
    {% endblock %}
    {% if block.data %}
        <!-- Exists and empty -->
    {% else %}
        <!-- Not Exists -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endif %}

    </head>
    
    <body style="background-color: #aeaeae;">
        <section class="my-navigation">
            <nav class="navbar navbar-expand-lg bg-body-tertiary"  data-bs-theme="dark">
                <div class="container-fluid">
                    <a href="{% url 'chatapp:mainpage' %}" class="navbar-brand" style="margin-right: -250px;">
                        <img src="{% static 'chatapp/images/logo.png' %}" width=25% height=25% alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="navbar-nav me-auto mb-2 mb-lg-0">
                            <a class="nav-link" aria-current="page" href="{% url 'chatapp:enter-room' %}" style="white-space: nowrap; overflow: hidden; margin-right: 10px;">Enter the room</a>
                            <a class="nav-link" href="{% url 'chatapp:create-room' %}" style="white-space: nowrap; overflow: hidden;">Create a room</a>
                        </div>
                        <form class="d-flex justify-content-end" role="search">
                            {% if user.is_authenticated %}
                                    <a href="{% url 'users:profile' %}" class="btn btn-outline-light me-2">{{ user.username }}</a>
                                    <a href="{% url 'users:logout' %}" class="btn btn-outline-light me-2">Logout</a>
                            {% else %}
                                <a href="{% url 'users:login' %}" class="btn btn-outline-light me-2">Login</a>
                                <a href="{% url 'users:register' %}" class="btn btn-outline-light me-2">Registration</a>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </nav>
            </section>

<section class="content">
{% block content %}
{% endblock %}
</section>

{% block script %}
{% endblock %}

<footer>
    <p>Founder / Owner / CEO - Vladimir Petrov</p>
    <p>&copy; 2024 Partial or complete copying of information from this site for distribution on other resources, including paper, is strictly prohibited.</p>

</footer>

</body>
</html>